<aside class="sidepanel menu responsive card">
	<nav>
		<ul>
			<li>
				<div class="l-menu__item <?php if(in_array($TAB,$on_the_records)) echo 'l-menu__item--active' ?>">
					<a href="<?=htmlspecialchars($home_url)?>">
						<i class="fas fa-tasks panel-icon"></i> <?=_('Records');?>
					</a>
				</div>
			</li>
			
			<!-- File Manager tab -->
                        <?php if ((isset($_SESSION['FILE_MANAGER'])) && (!empty($_SESSION['FILE_MANAGER'])) && ($_SESSION['FILE_MANAGER'] == "true")) {?>
			<li>
				<!-- File Manager tab -->
                                <?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($_SESSION['look'] === 'admin') && ($_SESSION['POLICY_SYSTEM_PROTECTED_ADMIN'] == 'yes'))) {?>
                                                <!-- Hide file manager when impersonating admin-->
                                        <?php } else { ?>
                                                <div class="l-menu__item <?php if($TAB == 'FM') echo 'l-menu__item--active' ?>"><a href="/fm/"><i class="fas fa-folder-open panel-icon"></i><?=_('Files');?></a></div>
                                <?php } ?>
                        </li>
			<?php } ?>
			<li>
        	                <!-- Statistics tab-->
	                        <div class="l-menu__item <?php if($TAB == 'STATS') echo 'l-menu__item--active' ?>">
					<a href="/list/stats/">
						<i class="fas fa-chart-line panel-icon"></i> <?=_('Statistics');?>
					</a>
				</div>
			</li>
		</ul>
	</nav>
</aside>
