<aside class="sidepanel menu responsive card">
	<nav>
		<ul>
			<li>
				<div class="l-menu__item <?php if(in_array($TAB,$on_the_records)) echo 'l-menu__item--active' ?>">
					<a href="<?=htmlspecialchars($home_url)?>">
						<i class="fas fa-tasks panel-icon"></i> <?=_('Records');?>
					</a>
				</div>
			</li>
			
			<!-- File Manager tab -->
                        <?php if ((isset($_SESSION['FILE_MANAGER'])) && (!empty($_SESSION['FILE_MANAGER'])) && ($_SESSION['FILE_MANAGER'] == "true")) {?>
			<li>
				<!-- File Manager tab -->
                                <?php if (($_SESSION['userContext'] === 'admin') && (isset($_SESSION['look']) && ($_SESSION['look'] === 'admin') && ($_SESSION['POLICY_SYSTEM_PROTECTED_ADMIN'] == 'yes'))) {?>
                                                <!-- Hide file manager when impersonating admin-->
                                        <?php } else { ?>
                                                <div class="l-menu__item <?php if($TAB == 'FM') echo 'l-menu__item--active' ?>"><a href="/fm/"><i class="fas fa-folder-open panel-icon"></i><?=_('Files');?></a></div>
                                <?php } ?>
                        </li>
			<?php } ?>
			<li>
        	                <!-- Statistics tab-->
	                        <div class="l-menu__item <?php if($TAB == 'STATS') echo 'l-menu__item--active' ?>">
					<a href="/list/stats/">
						<i class="fas fa-chart-line panel-icon"></i> <?=_('Statistics');?>
					</a>
				</div>
			</li>
			<li>
				<div class="l-separator"></div>
			</li>
			<!-- Users tab -->
	                <?php if (($_SESSION['userContext'] === 'admin') && (!isset($_SESSION['look']))) {?>
			<li>
                                <?php
                                        if (($_SESSION['user'] !== 'admin') && ($_SESSION['POLICY_SYSTEM_HIDE_ADMIN'] === 'yes')) {
                                                $user_count = $panel[$user]['U_USERS'] - 1;
                                        } else {
                                                $user_count = $panel[$user]['U_USERS'];
                                        }
                                ?>
                                <div class="l-menu__item <?php if(($TAB == 'USER') || ($TAB == 'LOG')) echo 'l-menu__item--active' ?>">
					<div class="l_menu_wide_item">
                                        	<a href="/list/user/">
							<div class="l-menu__icon"><i class="fas fa-users"></i></div>
							<div class="l-destribution">
                                                		<div class="l-menu__col-title"><?=_('USER');?> (<?=htmlspecialchars($user_count);?>)</div>
                                                		<div class="l-menu__description">
                                                        		<span><?=_('spnd');?>: <span><?=$panel[$user]['SUSPENDED_USERS']?></span></span>
                                                		</div>
							</div>
                                        	</a>
						<div class="toggle_submenu"><i class="fas fa-chevron-right"></i></div>
					</div>
					<ul class="submenu">
						<li>
							<a href="/add/user/" id="btn-create" class="l-menu__item" dir="ltr"><i class="fas fa-plus-circle
"></i> <?=_('Add User');?></a>
						</li>
						<li>
							<a href="/list/package/" class="l-menu__item" dir="ltr"><i class="fas fa-box-open"></i> <?=_('Packages');?></a>
						</li>
					</ul>
                                </div>
			</li>
                	<?php } ?>
			<!-- Web tab -->
			<?php if ((isset($_SESSION['WEB_SYSTEM'])) && (!empty($_SESSION['WEB_SYSTEM']))) {?>
				<?php if($panel[$user]['WEB_DOMAINS'] != "0") { ?>
				<li>
					<div class="l-menu__item <?php if($TAB == 'WEB') echo 'l-menu__item--active' ?>">
						<div class="l_menu_wide_item">
							<a href="/list/web/">
								<div class="l-menu__icon"><i class="fas fa-globe-americas"></i></div>
                	                                        <div class="l-destribution">
        	                                                        <div class="l-menu__col-title"><?=_('WEB');?> (<?=$panel[$user]['U_WEB_DOMAINS']?> / <?=$panel[$user]['WEB_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['WEB_DOMAINS']?>)</div>
	                                                                <div class="l-menu__description">
                                                                        	<span><?=_('aliases');?>: <span><?=$panel[$user]['U_WEB_ALIASES']?> / <?=$panel[$user]['WEB_ALIASES']=='unlimited' ? "<b>∞</b>" : $panel[$user]['WEB_ALIASES'] * $panel[$user]['WEB_DOMAINS']?></span>
                                                                	</div>
                                                        	</div>
							</a>
						        <div class="toggle_submenu"><i class="fas fa-chevron-right"></i></div>
                                        </div>
                                        <ul class="submenu">
                                                <li>
                                                        <a href="/add/web/" id="btn-create" class="l-menu__item" dir="ltr"><i class="fas fa-plus-circle"></i> <?=_('Add Web Domain');?></a>
                                                </li>
                                        </ul>
						        
					</div>
				</li>
				<?php } ?>
			<?php } ?>
			<!-- DNS tab -->
			<?php if ((isset($_SESSION['DNS_SYSTEM'])) && (!empty($_SESSION['DNS_SYSTEM']))) {?>
				<?php if($panel[$user]['DNS_DOMAINS'] != "0") { ?>
				<li>
					<div class="l-menu__item <?php if($TAB == 'DNS') echo 'l-menu__item--active' ?>">
						<div class="l_menu_wide_item">
							<a href="/list/dns/">
								<div class="l-menu__icon"><i class="fas fa-atlas"></i></div>
								<div class="l-destribution">
									<div class="l-menu__col-title"><?=_('DNS');?> <?=$panel[$user]['U_DNS_DOMAINS']?> / <?=$panel[$user]['DNS_DOMAINS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_DOMAINS']?> (<?=$panel[$user]['SUSPENDED_DNS']?>)</div>
									<div class="l-menu__description">
										<span><?=_('records');?>: <span><?=$panel[$user]['U_DNS_RECORDS']?> / <?=$panel[$user]['DNS_RECORDS']=='unlimited' ? "<b>∞</b>" : $panel[$user]['DNS_RECORDS'] * $panel[$user]['DNS_DOMAINS']?></span></span>
									</div>
								</div>
							</a>
							<div class="toggle_submenu"><i class="fas fa-chevron-right"></i></div>
                                       		</div>
                                       		<ul class="submenu">
                                               		<li>
                                                       		<a href="/add/dns/" id="btn-create" class="l-menu__item" dir="ltr"><i class="fas fa-plus-circle"></i> <?=_('Add DNS Zone');?></a>
                                               		</li>
                                       		</ul>
					</div>
				</li>
				<?php } ?>
			<?php } ?>
			
		</ul>
	</nav>
</aside>
