@media (max-width:1024px){
	.not-responsive{
		display:none;
	}
	.l-center{
		max-width:100%;
		min-width:100%;
	}
	.l-header{
		overflow:initial !important;
	}
	.account .user-center.card {
		z-index: 10;
		position: absolute;
		right: 0px;
		min-height: auto !important;
		margin: 0px;
		border-radius: 0px;
	}
	.account .user-center.card .l-menu__item {
		font-size: 16px;
		display: block;
		width: 100%;
		text-align: left;
		box-sizing: border-box;
		padding: 6px 8px;
	}
	.account .user-center.card {
		z-index: 99;
		position: absolute;
		right: 0px;
	}
	.account .user-center.card .l-menu__item a {
    		width: 100%;
    		display: block;
    		box-sizing: border-box;
    		font-size: inherit !important;
    		padding: 0px;
	}
	
	.sidepanel.menu {
		position: fixed;
		top: 40px;
		z-index: 99999;
		height: calc(100vh - 40px);
		width: 300px;
		left: -300px;
		margin: 0px !important;
		border-radius: 0px !important;
		transition:left 0.2s linear;
	}
	.sidepanel.menu.active{
		left:0px;
	}

	.sidepanel.menu nav {
		max-height: 100%;
		box-sizing: border-box;
		overflow-y: auto;
		height: 100%;
	}
	.sidepanel.menu nav ul {
		padding: 0px;
		margin: 0px;
		box-sizing: border-box;
		display: block;
	}

	.sidepanel.menu nav ul .submenu {
		background-color: rgba(0, 0, 0, 0.1);
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.sidepanel.menu nav ul li {
		display: block;
		box-sizing: border-box;
		width: 100%;
	}
	.sidepanel.menu nav ul li .l-menu__item {
		float: none;
		width: 100%;
		text-align: left;
	}
	.sidepanel.menu nav ul li .l-menu__item a {
		display: block;
		padding: 0px;
		padding-left: 14px;
		max-width: 100%;
		box-sizing: border-box;
	}
	.sidepanel.menu nav ul li .l-separator {
		height: 40px;
	}
	.l_menu_wide_item {
 		height: 40px;
		display: flex;
	}
	.l_menu_wide_item .toggle_submenu {
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		flex: 0 0 40px;
		transition: transform 0.2s linear;
	}
	.l_menu_wide_item>a {
		width: calc(100% - 40px);
		display: flex !important;
		flex-wrap: wrap;
	}
	.l_menu_wide_item > a .l-menu__icon {
		width: 40px;
		height: 40px;
		line-height: 40px;
		flex: 0 0 40px;
		float: left;
		display: inline-block;
	}

	.l_menu_wide_item > a .l-destribution {
		width: calc(100% - 40px);
		flex: 1 1 calc(100% - 40px);
		padding: 0px;
		height: 40px;
		line-height: initial;
	}
	.l_menu_wide_item > a .l-destribution .l-menu__col-title {
		width: 100%;
		height: 22px;
		line-height: 22px;
		display: inline-block;
		font-size: 14px;
		margin-top: 0px;
	}
	.l_menu_wide_item > a .l-destribution .l-menu__description {
		width: 100%;
		height: 18px;
		line-height: 18px;
		display: inline-block;
		font-size: 12px;
	}
	.sidepanel.menu nav ul li .l-menu__item > .submenu {
		display: none;
	}
	.l_menu_wide_item > a .l-destribution .l-menu__col-title.l-menu__single-row {
    		height: 40px;
		line-height: 40px;
	}
	.l-menu__item.l-responsive-active {
		background-color: rgba(0 0 0 /25%);
	}
	.is-responsive-hidden {
		display: none;
	}
	.no-margins {
		margin: 0px !important;
	}
	.rw-100{
		width:100%;
		flex: 1 1 100%;
	}
	.rw-auto{
		width:auto !important;
		flex: 0 0 auto;
	}
	.rd-flex{
		display:flex !important;
	}
	.r-square {
		width: 36px;
		flex: 0 0 36px;
		line-height: 36px;
	}
	.l-unit .responsive .infobox.quickaction {
		width: 50%;
		display: inline-block;
	}

	.l-unit .responsive.toggling {
		display: flex;
		flex-wrap: wrap;
	}
	.infobox.quickaction a {
		display: block;
	}
	.l-unit .responsive .l-separator {
		width: 100%;
		height: 32px;
		flex: 1 1 100%;
	}
	.l-unit .responsive .infobox.quickaction.w100 {
		width: 100%;
		display: block;
	}
	.l-unit .responsive.toggling {
		display: none;
		width: 100%;
	}
	.l-unit .toggle_submenu {
		transition: transform 0.2s linear;
	}
	.l-unit .responsive .infobox.quickaction {
		width: 24%;
		display: inline-block;
	}
	div.l-content>div.l-separator {
		position: initial !important;
		margin-top: initial !important;
	}
	.l-content .l-center .l-stat {
		position: initial !important;
		margin-top: 0px !important;
		padding-top: 64px !important;
		clear: both;
	}

	.l-content .l-center .l-sort, 
	.l-content .l-center .table-header,
	.l-content .l-center .l-unit {
		position: initial !important;
		margin-top: 0px !important;
		padding-top: 0px !important;
		clear: both;
		max-width: 100%;
		padding-left: 8px;
		padding-right: 8px;
		box-sizing: border-box;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.l-content>.units.l-center::before {
		height: 0px !important;
	}

	.l-content .l-center .l-sort.toolbar .l-unit-toolbar__buttonstrip {
		flex: 1 1 auto;
		display: inline-block;
		box-sizing: border-box;
		height: auto !important;
		clear: both;
		max-height: initial !important;
		float: initial !important;
		margin-top: 16px;
	}

	.l-content .l-center .l-sort.toolbar  .l-sort-toolbar {
		flex: 1 1 auto;
		display: inline-block;
		float: none !important;
	}

	.l-content .l-center .l-sort.toolbar .l-unit-toolbar__buttonstrip .ui-button {
		position: initial !important;
		display: inline-block;
		line-height: 22px !important;
		height: auto !important;
		font-size: 14px !important;
	}
	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table {
		width: 100%;
		max-width: 100%;
		display: block;
		box-sizing: border-box;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody {
		display: block;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr {
		display: flex;
		flex-wrap: wrap;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr > * {
		display: inline-block;
		flex: 1 1 auto;
		margin-left: 0px;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr .sort-by {
		margin: 0px;
		padding-left: 0px;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td {margin-top: 8px !important;}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td form {
		display: flex;
		width: 100%;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td form .search-input, .l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td form .l-select {
		flex: 1 1 auto;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr > td form {
		width: 100%;
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td form .l-select select {
		width: 100%;
		position: relative;
		background-position: calc(100% - 10px);
	}

	.l-content .l-center .l-sort.toolbar .l-sort-toolbar table tbody tr td form .l-select::after {
		visibility: hidden;
	}
	.l-content .l-center .l-sort, .l-content .l-center .table-header, .l-content .l-center .l-unit > .l-unit__col {
		width: 100%;
	}
	.l-content .l-center .l-unit .l-unit-toolbar__buttonstrip, 
	.l-content .l-center .l-sort .l-unit-toolbar__buttonstrip{
		margin-top:0px !important;
		padding-top:8px;
		padding-bottom:8px;
	}
	.l-content .l-center .l-unit:before, 
	.l-content .l-center .l-unit:after,
	.l-content .l-center .l-sort:before, 
	.l-content .l-center .l-sort:after {
		display: block !important;
		width: 100% !important;
		height: 1px !important;
		float: none !important;
		position: initial !important;
		flex: 1 1 100%;
	}
	form#vstobjects {
		padding: 0px;
		box-sizing: border-box;
		max-width: 100%;
	}

	.l-center table.data {
		max-width: 100%;
		width: auto;
		box-sizing: border-box;
		margin-right: 0px !important;
		display: block;
		padding: 8px 16px;
	}

	.l-center table.data table, .l-center table.data tbody {
		max-width: 100%;
		width: auto;
		box-sizing: border-box;
		display: block;
	}

	.l-center table.data tr {
		display: block;
		max-width: 100%;
		box-sizing: border-box;
	}

	.l-center table.data tr td {
		display: block;
		max-width: 100%;
		box-sizing: border-box;
	}

	table.data-col2 {}

	.l-center table.data input:not([type*="radio"]):not([type*="checkbox"]), .l-center table.data select, .l-center table.data textarea {
		max-width: 100%;
		box-sizing: border-box;
		height: 38px;
		width: 100%;
		min-width: 0%;
		background-position: calc(100% - 16px);
	}

	.l-center table.data tr meter {
		max-width: 100%;
		box-sizing: border-box;
		margin-left: 0px;
		width: 100%;
	}

	.l-center table.data span.hide-password {
	}
}
/***************************************/
@media (max-width: 992px){
    .l-unit .responsive .infobox.quickaction {
        width: 33%;
        display: inline-block;
    }
    .l-content .l-center .l-sort.toolbar .l-sort-toolbar{
    	width:auto !important;
    }
}
@media (max-width: 768px){
    .l-unit .responsive .infobox.quickaction {
        width: 49%;
        display: inline-block;
    }
    .l-content .l-center .l-sort.toolbar .l-sort-toolbar{
    	width:100% !important;
    }
}
@media (max-width: 568px){
    .l-unit .responsive .infobox.quickaction {
        width: 100%;
        display: inline-block;
    }
}
/***************************************/
@media (min-width:1025px){
	.responsive{
		display:none !important;
	}
	.sidepanel.menu.responsive {
		display: none !important;
	}
}
.w100 {
    width: 100%;
    display: block;
    box-sizing: border-box;
}
/**************************************/
/*** login ****************************/
/**************************************/
@media (max-width:500px){
    body.body-login {}

    body.body-login table.login {
        width: 100%;
        max-width: 500px;
    }

    body.body-login table.login tr {}

    body.body-login table.login tr td {}

    body.body-login table.login tr td table {
        display: block;
        padding: 16px 8px;
        width: 100%;
        max-width: 100%;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr {
        display: flex;
        flex-wrap: wrap;
    }

    body.body-login table.login tr td table tr td {
        padding-left: 14px !important;
        padding-right: 14px !important;
        flex: 1 1 auto;
        position: relative;
        display: inline-block;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:first-child {
        width: 100% !important;
        height: auto !important;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:first-child a {
        max-width: 270px;
        width: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 280px;
        height: auto !important;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:first-child a img {
        display: block;
        margin: 0px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: auto !important;
        clear: both;
        margin-left: auto;
        width: auto !important;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:last-child {
        padding: 22px 8px !important;
    }

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:last-child form {}

    body.body-login table.login>tbody:first-child tr:first-child>td:first-child>table:first-child>tbody:first-child>tr:first-child>td:last-child form input:not([type*="button"]):not([type*="submit"]):not([type*="reset"]) {
        max-width: 100%;
        width: 100% !important;
        box-sizing: border-box;
        line-height: 38px !important;
        height: 38px !important;
    }

    body.body-login table.login tr td table tbody {
        width: 100%;
        max-width: 100%;
        display: table;
    }

    body.body-login table.login tr td table tbody td {
        width: 100%;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
}



